.container {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  color: #43766c;
  font-size: 18px;
  margin: 20px 0;
  margin-bottom: 50px;

  h3 {
    margin-bottom: 40px;
    text-align: center;
  }

  @media screen and (min-width: 998px) {
    border-radius: 10px 10px 0 0;

    font-size: 22px;
    margin-bottom: 100px;
  }
}

.content {
  display: flex;
  justify-content: center;

  a {
    display: flex;
  }
}
