// Hex: 333D51 / D3AC2B / CBD0D8 / F4F3EA

.button {
  button {
    background: #ed7458;
    margin-bottom: 40px;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #f4f3ea;
    border: none;
  }

  //   @media screen and (min-width: 414px) {
  //   width: 190px;
  // }
}
