.button {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background: #ed7458;
    margin-bottom: 60px;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #f4f3ea;
    border: none;
    width: 300px;
  }

  p {
    color: #43766c;
    text-align: center;
    margin-bottom: 30px;
  }
}
