// Hex: 333D51 / D3AC2B / CBD0D8 / F4F3EA

.container {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  max-width: 1450px;
  margin: auto;
  @media screen and (min-width: 500px) {
    max-width: 1000px;
  }
}
