.container {
  color: #0c4a60;
}

.title {
  text-align: center;
  p {
    margin: 1px;
  }
}

.video {
  margin: 20px auto;
}

.mainPicture {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.galeriaMobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageSize {
  img {
    width: 400px;
  }
}

.infos {
  padding: 15px;
  // display: flex;
  // flex-wrap: wrap;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: 90px;
  }

  p {
    margin: 5px 0 20px 0;
  }
}

.price {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
